**/xcuserdata/
*.xcuserstate
*.xcuserdata

build/
DerivedData/

.DS_Store
**/.DS_Store

*.ipa
*.dSYM.zip
*.dSYM

*.lock
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

*/build/
*/DerivedData/

.swiftpm/
.build/
Packages/

Pods/
!Podfile.lock  # но сам файл блокировки коммитить нужно!

Previews/